/****** 共通設定 ******/
html, body {
  width: 100%;
  color: #555;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bold {
  font-weight: bold;
}

/****** ヘッダー ******/
h1 {
  width: 28.5em;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  border-right: 2px solid rgba(255,255,255,.75);
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(44) 1s 1 normal both,
  caret 500ms steps(44) infinite normal;
}
@keyframes typing { 
  from { width: 0; } 
  to { width: 28.5em; }
}
@keyframes caret { 
  from { border-right-color: rgba(255,255,255,.75); } 
  to { border-right-color: transparent; }
}

.custom-nav {
  background-color: #9ac29f;
}
.custom-nav .navbar-brand {
  font-weight: bold;
}
.custom-nav input, .btn {
  border-radius: 0;
}
.custom-nav input {
  display: block;
  width: 270px;
  border: none;
}
.custom-nav .btn {
  background-color: #d9de84;
  color: #555;
}

/****** メイン ******/
.left-contents {
  overflow-y: scroll;
  height: calc(100vh - 56px - 16px);
}
/* 図書館情報（一覧） */
.library-info {
  border: 1px solid #777;
  font-size: 0.85rem;
}
.library-info:hover {
  background-color: #FCF4C2;
}
.library-name {
  color: #555;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}
.library-info:hover .library-name {
  color: #E4BD60;
}
.root-btn {
  width: 100%;
  font-size: 0.75rem;
  background-color: #EFF1CD;
  border: 1px solid #777;
  border-radius: 5px;
}

/* 図書館情報（詳細） */
.library-details h2{
  font-size: 1.3rem;
  background-color: #d9de84;
}
.library-details h3{
  font-size: 1rem;
}
.cafe-btn {
  width: 100%;
  font-size: 0.75rem;
  background-color: #FCF4C2;
  border: 1px solid #777;
  border-radius: 5px;
}
.img-box {
  width: 100%;
  height: 200px;
}

/* 地図 */
#map { /* <body>内に記載しているID名 */
  width: 100%; /* 幅 */
  height: calc(100vh - 56px - 16px); /* 高さ */
  background-color: black; /* 背景色 */
}
@media screen and (max-width: 479px) {
  #map {
    height: calc(100vh - 94px - 16px);
  }
}

/* ボタン */
.btn-group {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.mobile-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #aaa;
  color: #555;
  background-color: #ddd;
}
.mobile-btn:hover {
  background-color: #d9de84;
  border: 2px solid #d9de84;
}

/* スクロールバー */
.left-contents::-webkit-scrollbar{
  width: 10px;
}
.left-contents::-webkit-scrollbar-track{
  background: #fff;
  border-left: solid 1px #ececec;
}
.left-contents::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}

/* ローディング画面 */
#loading {
  display: flex;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  width: 300px;
  height: 200px;
  background-color: #b2d6d4;
  z-index: 100;
  border: 2px solid #fff;
}
.loading-caption {
  font-size: 1.25rem;
  color:#fff;
  font-weight: bold;
}
.circle {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  animation: loading 1s infinite;
}
.circle:nth-child(2) {
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loading {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}