/****** 共通設定 ******/
html, body {
  width: 100%;
  color: #555;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bold {
  font-weight: bold;
}

/****** ヘッダー ******/
h1 {
  width: 28.5em;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  border-right: 2px solid transparent;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(44) 2s 1 normal,
  caret 500ms steps(44) 16 normal;
}
@keyframes typing { 
  from { width: 0; } 
  to { width: 28.5em; }
}
@keyframes caret { 
  from { border-right-color: rgba(255,255,255,.75); } 
  to { border-right-color: transparent; }
}

.custom-nav {
  background-color: #9ac29f;
}
.custom-nav .navbar-brand {
  font-weight: bold;
}
.custom-nav input, .btn {
  border-radius: 0;
}
.custom-nav input {
  display: block;
  width: 270px;
  border: none;
}
.custom-nav .btn {
  background-color: #d9de84;
  color: #555;
}
.custom-nav .btn:hover {
  background-color: #c3c773;
  color: #fff;
}

/****** メイン ******/
.left-contents {
  height: calc(100vh - 56px - 16px);
}
.caption {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid #000;
  font-weight: bold;
  color: #000;
}
.caption:before {
  position: absolute;
  right: 50px;
  bottom: -15px;
  width: 0;
  height: 0;
  content: '';
  border-width: 15px 15px 0 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  z-index: 50;
}
.caption:after {
  position: absolute;
  right: 53px;
  bottom: -10px;
  width: 0;
  height: 0;
  content: '';
  border-width: 10px 10px 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 60;
}

/* 図書館情報（一覧） */
.scroll {
  overflow-y: scroll;
  height: 821px;
}
.library-info {
  border: 1px solid #777;
  font-size: 0.85rem;
}
.library-info:hover {
  background-color: #FCF4C2;
}
.library-name {
  color: #555;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}
.library-info:hover .library-name {
  color: #E4BD60;
}
.root-btn {
  width: 100%;
  font-size: 0.75rem;
  background-color: #EFF1CD;
  border: 1px solid #777;
  border-radius: 5px;
}

/* 本の情報 */
.back {
  background-color: #d9de84;
}
.book-main-info {
  position: relative;
  padding: 1rem;
  background: #fff;
}
.book-main-info:before {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  content: '';
  border: 2px solid #000;
}
.img-fit {
  height: 120px;
  object-fit: contain;
}
#book-title {
  font-size: 1.1rem;
  font-weight: bold;
}
#publisher {
  color: #555;
  font-size: 0.7rem;
}

/* 地図 */
#map { /* <body>内に記載しているID名 */
  width: 100%; /* 幅 */
  height: calc(100vh - 56px - 16px); /* 高さ */
  background-color: black; /* 背景色 */
}
@media screen and (max-width: 479px) {
  #map {
    height: calc(100vh - 94px - 16px);
  }
}

/* ボタン */
.btn-group {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.mobile-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #222;
  color: #222;
  background-color: #ddd;
}
.mobile-btn:hover {
  background-color: #d9de84;
  border: 2px solid #d9de84;
}
#cafe-btn {
  background-color: #F3D389;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 200;
}
#cafe-btn:hover {
  background-color: #CB9F3B;
  border: 2px solid #fff;
  color: #fff;
}
.cafe-caption {
  width: 120px;
  position: absolute;
  top: 60px;
  right: 20px;
  visibility: hidden;
  background-color: rgba(255,255,255,.9);
  border: 2px solid #CB9F3B; 
  color: #222;
  z-index: 200;
}
#cafe-btn:hover ~ .cafe-caption {
  visibility: visible;
}


/* スクロールバー */
.scroll::-webkit-scrollbar{
  width: 10px;
}
.scroll::-webkit-scrollbar-track{
  background: #fff;
  border-left: solid 1px #ececec;
}
.scroll::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}

/* ローディング画面 */
#loading {
  display: flex;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  width: 300px;
  height: 200px;
  background-color: #b2d6d4;
  z-index: 100;
  border: 2px solid #fff;
}
.loading-caption {
  font-size: 1.25rem;
  color:#fff;
  font-weight: bold;
}
.circle {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  animation: loading 1s infinite;
}
.circle:nth-child(2) {
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loading {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}